{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TK Insan Kamil </title>

    {% include "snippets/styles.html" %}

    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/styles.css" %}">
    <script src="main.js"></script>

</head>
<body>
        <h1>HALAMAN PROFIL Sejarah</h1>
        <h2>{{Posts}}</h2>
        {% include "snippets/navbar.html" %}
              <div class="card text-center"></div>
      {% include "snippets/footer.html" %}
      {% include "snippets/scripts.html" %}
</body>
</html>